.addcategorymodal{
    background-color: white;
    width: 30%;
    margin: 50px auto;
    padding: 10px;
    overflow: scroll;
    & .addbutton{
        top: auto;
        right: auto;
    }
}

@media screen and (max-width: 800px){
    .addcategorymodal{
        width: 80%;
    }
}