.userbooks{
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    background-color: transparent;
    background-color: white;
    & .title-section{
        margin-top: 30px;
    }
    & .favbook, .bookrecommended{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}