.userauthors{
    width: 100%;
    height: auto;
    overflow: scroll;
    background-color: white;
    scrollbar-width: none;
    & .title-section{
        margin-top: 30px;
    }
    & .favauthor, .authorrecommended{
        display: flex;
        flex-wrap: wrap;
    }
}