.listcategory-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: scroll;
    & .listcategory-list{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        & .card{
            color: black;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            & .wording{
                margin-left: 10px;
            }
            & .options{
                display: flex;
                & button{
                    border: 0;
                    height: 30px;
                }
            }
        }
    }
}