.users-container-content-info{
    position: absolute;
    width: 100%;
    margin: 0;
    & .info-window{
        display: flex;
        & .table:first-child{
            width: 100px;
        }
        & .option-element{
            background-color: rgb(255, 255, 255);
            padding-right: 10px;
            & .option-title{
                color: rgb(41, 41, 41);
                border-bottom: 1px solid rgb(167, 167, 167);
                padding: 2px 0 2px 5px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & .option{
                display: flex;
                padding: 2px 0 2px 5px;
                height: 50px;
                & .button{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    & .mini-info-window{
        display: none;
    }
}

@media screen and (max-width:700px) {
    .users-container-content-info{
        & .info-window{
            display: none;
        }
        & .mini-info-window{
            display: flex;
            & .option-element{
                background-color: rgb(255, 255, 255);
                padding-right: 10px;
                & .option-title{
                    color: rgb(41, 41, 41);
                    border-bottom: 1px solid rgb(167, 167, 167);
                    padding: 2px 0 2px 5px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                & .option{
                    display: flex;
                    padding: 2px 0 2px 5px;
                    height: 50px;
                    & .button{
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}