.search__page {
  &-bar {
    display: flex;
    padding: 10px 0;
    & .card {
      background-color: white;
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 1px #f3f3f3;
    }
  }
  &-content {
    & .users-search {
      display: flex;
    }
  }
}
