.authorworks {
  padding: 10px;
  &-label {
    display: flex;
    &-icon {
      width: 40px;
      height: 40px;
      background-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
  }
  & .book {
    background-color: white;
  }
}
