.onglet-container{
    position: absolute;
    width: 100%;
    height: 100%;
    & .onglet-nav{
        display: flex;
        width: 100%;
        background-color: rgba(5, 3, 133, 0.795);
        padding-top: 10px;
        & .onglet{
            background-color: rgba(59, 57, 221, 0.562);
            padding: 15px 15px 5px 15px;
            border-radius: 5px 5px 0 0;
            font-size: 14px;
            font-weight: 450;
            margin-left: 5px;
            color: white;
        }
        & .onglet:active{
            color: black;
            background-color: white;
        }
    }
    & .onglet-page{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:500px) {
    .onglet-page{
        height: 100%;
    }
}
