.info {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-image: url("../../../../../../../common/images/mini-background.svg");
  background-size: cover;
  margin-top: 10px;
  &-img {
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    & img {
      width: 100%;
      height: 100%;
    }
  }
  &-detail {
    & .stars {
      margin: 0 0 10px 10px;
    }
  }
}
