.bookauthors {
  margin-left: 10px;
  &-label {
    display: flex;
    align-items: center;
    &-icon {
      background-color: blue;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }
    & .button {
      margin-left: 10px;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    & .authors {
      margin: 10px;
      background-color: white;
      padding: 10px;
      display: flex;
      &-header {
      }
      &-body {
        width: 100px;
        padding: 0 0 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .button {
          width: 40px;
          padding: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .bookauthors {
    &-list {
      & .authors {
        width: 100%;
      }
    }
  }
}
