.userinfo {
  width: 100%;
  padding: 10px;
  position: relative;
  &-content {
    background-color: white;
    width: 100%;
    overflow: hidden;
    &-header {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      background-image: url("../../../../../../common/images/mini-background.svg");
      background-size: cover;
      padding: 10px;
      &-detail {
        width: 60%;
        &-text {
          display: flex;
          margin: 10px 0 10px 0;
          & p {
            margin-left: 10px;
          }
        }
      }
      &-img {
        overflow: hidden;
        width: 200px;
        height: 250px;
        & img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &-body {
      &-options {
        display: grid;
        grid-template-columns: 50% 50%;
        &-item {
          margin: 10px 0 10px 0;
          padding: 20px;
          transition: all 300ms ease-in-out;
          cursor: pointer;
          &-title {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            & .round {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 10px;
              width: 40px;
              height: 40px;
              background-color: blue;
            }
          }
          & p {
            color: gray;
          }
        }
        &-item:hover {
          background-color: rgb(200, 200, 200);
          transition: all 300ms ease-in-out;
        }
      }
      &-books {
        padding: 10px;
        &-list {
          &-item {
          }
        }
      }
    }
  }
  & .empty {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    & h3 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 800px) {
  .userinfo {
    &-content {
      &-header {
        flex-direction: column-reverse;
      }
      &-body {
        &-options {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
