.input-img {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &-addcover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(210, 210, 210, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
    z-index: 4;
    & input {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  &-addcover:hover {
    background-color: rgba(210, 210, 210, 0.805);
    transition: all 300ms ease-in-out;
  }
}
