body{
  position: relative;
}

.color-gray{
  background-color: rgb(235, 232, 232);
}

.color-white{
  background-color: white;
}

.text-color-main{
  color: #000080;
}

.text-color-lightgray{
  color: rgb(184, 184, 184);
}

.text-color-white{
  color: white;
}

.animation, .animation:hover{
  transition: background-color 200ms ease-in-out;
}

.button:hover{
  background-color: #00001A;
}

.full-width{
  width: 100%;
}

.no-style{
  text-decoration: none;
}

textarea{
  font-family: inherit;
  font-size: 15px;
}

.main-background{
  background-color: #000080;
}