.color-gray{
  background-color: rgb(235, 232, 232);
}

.color-white{
  background-color: white;
}

.text-color-main{
  color: #000080;
}

.text-color-lightgray{
  color: rgb(184, 184, 184);
}

.button:hover{
  background-color: #00001A;
  transition: background-color 200ms ease-in-out;
}

.button{
  transition: background-color 200ms ease-in-out
}